<header class="main-header-container">
    <div class="log">
        <img src= "media/log.png" alt="imagem do logo da loja">
        </div>
    <div class="main-header container">
        
            
        <h1>
            <a class="main-logo" href="{% url 'recipes:home' %}">
                {% comment %} <i class="fas fa-utensils main-logo-icon"></i> {% endcomment %}
                <span class="main-logo-text"> Nossas Receitas </span>
                <i class="fas fa-birthday-cake main-logo-icon"></i>
            </a>
        </h1>
    </div>
</header>